

.register,.sussess,.invitation,.audit{
    background: url("../img/logo.png") no-repeat center center;
    background-size: 4.718em 3.875em;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    background-color: #f73121;
    border-radius: 50%;
}
.reg_header{
    padding-top: 6em;
}
.re_title{
    background: url("../img/bt.png") no-repeat center center;
    background-size: 13.656em 1.437em;
    width: 13.656em;
    height: 1.437em;
    margin: 0 auto;
    margin-top:0.937em;

}
.input_l{
    
    border-bottom: solid 0.5px #ddddde;
    width: 100%;
    margin-top: 0.5em;
    padding: 1.3em 0 0.7em 0;
}
.input_l input{

   padding-left:2.4em;
}
.fonnter{
    width: 100%;
    overflow: hidden;
    padding: 0 1.562em;
    margin-top: 1.4em;
}
.submit_a{
    padding-left:0em !important;
    width: 7.3em !important;
    border:  solid 1px #ddddde;
    border-radius: 2em;
    height: 2.307em;
    line-height: 2.307em;
    background-color: #fff;
    color: #c6c6c7;
    margin-right:0.5em; 
}
.input_l_1{
    width: 100%;
    
    margin-top: 2.2em;
}
.indseee{
    padding:0 2em;
}
.preservation_a{
    width: 100%;
    font-size: 1em;
    height: 2.8125em;
    color:#fff ;
    background: -webkit-linear-gradient(left, #fa2828 , #fd3f1a); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #fa2828, #fd3f1a); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #fa2828, #fd3f1a); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #fa2828 , #fd3f1a); /* 标准的语法 */
    font-family: "微软雅黑";

    border-radius: 2em;
    box-shadow: 0px 5px 6px rgba(240, 3, 2,0.2); 
    margin-bottom:1em; 
}
.ver_a{
    position: absolute;
    right: 0;
    top: 1em;

}
.input_2{position: relative;}


/*注册成功*/
.succ_header{
    padding-top: 3.125em;
    height: 21.25em;
    background: -webkit-linear-gradient(left, #fa2828 , #fd3f1a); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #fa2828, #fd3f1a); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #fa2828, #fd3f1a); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #fa2828 , #fd3f1a); /* 标准的语法 */
}
.sussess{
    background: url("../img/zhuce.png") no-repeat center center;
    background-size: 4.968em 5.375em;
}

.succ_div{
    font-size: 1.062em;
    color:#fff4f4 ;
}
.succ_fonnter{
    width: 18.562em;
    height: 15.5em;
    margin: 0 auto;
    position: relative;
}
.succ_erweima{
    width: 18.562em;
    height: 22.25em;
    background: url("../img/guanzhu.png") no-repeat top center;
    background-size: 18.562em 22.25em;
    position: absolute;
    top: -7em;
    z-index: 2;
}
.succ_img{
    width: 10.031em;
    height: 10.031em;
    position: absolute;
    top: 9em;
    left: 50%;
    margin-left: -5.05em;
}
.succ_img img{
    width: 100%;
    height: 100%;
}

/*我的信息*/
.myinfo{
    width:6.125em;
    height: 6.25em;
    margin: 0 auto;
    /*font-size: 1.25em;*/
    margin-bottom: 0.1em;
    border-radius: 50%;
}
.myinfo img{
    width: 100%;
    height: 100%;
}
.myinfo_div{
    font-size: 1.25em;
    color:#fff4f4 ;
}
.myinfo_div_p1{
    font-size: 1em;
}

/*邀请他人*/
.invitation{
    background: url("../img/yaoqing.png") no-repeat center center;
    background-size: 4.843em 5.625em;
}
.inv_p{
    font-size:1.062em ;
}

/*提交审核*/
.audit{
    background: url("../img/shangjia.png") no-repeat center center;
    background-size: 4.968em 5.343em;
}


/*商家入驻*/

.sett_fonnter{
    margin-top: 0;

}



.sett_file{
    width: 100px;
}
.file_gb{
    text-align: center;
    position: absolute;
    top:0em;
    right: -1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
}
.file-item {
    position: relative !important;
 
}
#obtaino{
    font-size:0.866em; 
    color:#fd9494;
    border:solid 0.5px #fd9b9b !important ;
}
.disnonne{
    display: none;
}
.disblock{
    display: block;
}

.yezz{
    width: 100%;
    height: 100%;
}
.yyzzkj{
    width:5.325em ;
    height: 5.325em;

}
.yyzzkj img{
    width:100% !important;
    height: 100% !important;

}
#imgtx{
    border-radius: 50%;
}

.qytxs{
    width: 4.2em !important;
    height: 4.2em !important;
    border-radius: 50%;
    overflow: hidden;
}
.qytxs img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.enterprise_ae{
    display: inline-block;
}
.logotx{
    width: 100%;
    height: 100%;
}
.qyloge{
    width:3.187em !important;
    height: 3.187em !important;

    overflow: hidden !important;
    
    
    
    
}
.qyloge>.webuploader-pick{
    width:3.187em !important;
    height: 3.187em !important;
    background: url("../img/logo_moren_03.png") no-repeat top center !important;
    background-size: 3.187em 3.187em !important;
    position: absolute;
    margin: 0 !important;
}
.qyloge>.webuploader-pick img{
    position: absolute;
    margin: 0 !important;
    width: 100%;
    height: 100%;
}
#fileList_3{
    margin-top: 1.2em !important;
}
  
.addimg{
    text-align: center;
    width: 50%;
    height: 50%;

}
.input_l_3sse{
    margin: 0;
    padding: 0;
    line-height: 3.187em;
    padding: 0.5em 0em;

}

/*body::-webkit-scrollbar{
    width:0;
    height:0;
}
html, body{ height:100%;overflow:hidden;overflow-y: scroll;}*/

#imgtx{
    box-shadow: 0 5px 6px  rgba(0, 0, 0, 0.15);
}
#name{
    padding-top: 0.4em;
}
#pho{
    font-size:0.937em;

}

.ns_shbe{
    display: none;
   text-align: center;

}
#qylogoimg{
     width: 4.2em !important;
    height: 4.2em !important;

    margin-top: 0.8em !important;
}
#qylogoimg>div{
    width: 4.2em !important;
    height: 4.2em !important;
 
    border-radius:50%; 
    background: url() !;
    
}
webuploader-pick webuploader-pick-hover
#qylogoimg>#qytxsa{
    width: 100%;
    height: 100%;
}

#qylogoimg>.les_ente{
    line-height:0 !important;
}
.enterprise{
    line-height: 0 !important;
}
.enterprise_ae{
     line-height: 5.625em !important;
}

/*.shsb{*/
   /*padding:  1.875em;*/
   /*background-color:#fff8f2; */
   /*color: #fa2828;*/
   /*border: 1px solid #ffd1a6;*/
/*}*/
.shsb p {
    line-height: 1.2em;
}
.shsb_2a{
    height: 0.625em;
   
    background-color:#f3f3f4; 
}
.shsb_ad{
     padding:  1.875em 0 0 0 !important;
}
.shsb_x{
    margin-top: 0;
     background-color:#fff8f2 !important; 
}
.csessa{
    border-radius:0 !important; 
     margin: 0;
     padding:0;
}
.csessa_labe{
    position: fixed;
    bottom:0;
    width: 100%;
     margin: 0;
     padding:0;

   
}


.input-row label{
    width: 66px;
    text-align: left;
    margin-right: 5px;
}
.input_wrapper{
  overflow: hidden;
}
.input_wrapper input[type="text"]{
  width: 100%;
  outline: medium;
}


.cpo_radi{
    padding-left: 2.4em;
}
.input_wspan{
    position: relative;
}
.inp_spane{
    position: absolute;
    z-index: 9;
    color: #000;
    top: 0;
    right: 0;
    font-family: 宋体;
    font-weight: 600;
    
    
}
.dasde{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    overflow: hidden;
    
}

.pode{
    background-color: #fff;
    width: 24%;
    height: 100%;
    text-align: center;
    overflow: auto;
    z-index: 999;
}

#Parent_a{
    width: 76%;
}
.tooth_c{
 
    width: 5.625em;
    height: 3.187em;
    line-height: 3.187em;
    border-bottom: .5px solid #fff;
    box-sizing: border-box;
    background-color: #f3f3f4;
    
}

.tooth_1{
    float: left;
    width: 33.33%;
    line-height: 2em;
    
    
}

.mayep_a{
    width:100%;
    height: 100%;
}
#allmap{
   width:100%;
    height: 100%; 
}

.essuggestId{
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}
#suggestId{
    padding:0 3em;
    text-align: left;
    line-height: 3em;

}
#r-result,#suggestId{
    width:100%;
}
.tangram-suggestion-main{
    z-index: 9999;
}
#esstId{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 9999;
    bottom:0 !important;
    background-color: #F3F1EC;
    line-height: 3em;
}

.shde{
   padding-bottom:1em; 
}


.succ_erweima1{
    top:0 !important;
}
.csessa_labe_de{
    position: relative;
}
.infor_foot_des{
    height: 24.128em;
    padding-top:1.718em; 
}
.shzt{
  padding-left: 2.4em;
}

.input_l_shzt{
    border: 0;
}


.shtg{
    color: #20c820;
}


.shsb{
    color: #fa2828;
}

.shz{

    color: #c6c6c7;  
}

.mtj{
    color: #49494c; 
}
.fonnter input {
    background-color: #fff;
}


.rlv{
    line-height: 3em;
    height: 3em;
    border-bottom: 1px solid #fccccd;
}

.drlv{
      border-top: 1px solid #fccccd;
  }


#main{
    padding-bottom: 2.6em;
    z-index: 1;
}
#one{
    z-index: 99999;
}

#legalIdentitys{
    padding-bottom: 5em;
}

.org4,.org3{
    padding-bottom: 5em;
}
.error_a{
    display: none;
    padding-bottom:1.25em ;
    background-color: #f3f3f4;
}

.error{
    width: 100%;
    background-color: #fff;
    padding: 1.25em 1.562em;
}

.reeors{
    height: 1.5em;
    color: #fa2828;
}
#fileList_7,#fileList_6,#fileList_5,#fileList_1,#fileList_2 {
    width: 15em;
    margin-top: -1.2em !important;
    margin-bottom: 1.2em !important;
}
#fileList_7 div,#fileList_6 div,#fileList_5 div,#fileList_1 div ,#fileList_2 div {
    display: inline-block;
    float: right;
    margin-left: 1.4em;
    margin-top: 1.2em;
}

.input_frwt label{
    width: 40%;
}